.wrapper{
  width: 100%;
  height: auto;
  background: #fff;
  padding: 15px 0 15px 15px;
  margin-bottom: 2px;
}
.title{
    margin-top: 7px;
    margin-bottom: 15px;
    font-family: arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #000;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}
.labelText{
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 15px;
    font-family: arial, sans-serif;
    font-size: 13.9px;
    font-weight: 500;
    color: #787878;
    letter-spacing: 0.4px;
    box-sizing: border-box;
}
.labelText:hover{
  color: #005a2b;
}
.check{
  height: 20px;
  width: 20px;
  background-color: #eee;
  margin-right: 12px;
  cursor: pointer;
}

