.elem{
  width: 100%;
  height: 44px;
  display: block;
  text-transform: uppercase;
  color: rgb(12, 18, 28);
  font-family: "Avenir Next",Arial,Helvetica,"Microsoft JhengHei",sans-serif;
  font-size: .625rem;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: 1.73px;
  padding: 0 24px;
  cursor: pointer;
}
.elem:hover{
  background-color: #f8f9f9;
}
.active{
  background-color: #cacece;
}